.footer {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 120px;
    background-color: #FCFEFD;
}

.footer__center {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-parag {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.parag-footer {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.contact-footer {
    display: flex;
    gap: 142px;
}

li.menu-footer-li {
    list-style-type: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
    color: #555555;
}

ul.footer-list {
    margin-left: 0;
    padding-left: 0;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-footer__name {
    font-family: 'DM Sans';
    font-style: medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
}

.social-mail__footer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-footer__list {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #555555;
}

.menu-footer__social {
    display: flex;
    gap: 50px;
}