.head {
    width: 100%;
    padding: 45px;
    background-color: #FFFFFF;  /* По умолчанию цвет и так белый */
}

.head__center {
    font-family: "DM Sans";
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; /* Не нужно задать флек роу, он по умолчанию роу */
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.regestar__icon {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.icon {
    gap: 20px;
}

.button__regestar {
    width: 160px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #09A66D;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
